@use "Components/page/custom-properties";

.order-summary {
    @include custom-properties.app-bar-height();
    @include custom-properties.grid-margin();
    @include custom-properties.grid-inner-height();

    height: 100%;
}

.order-summary__table {
    max-height: calc(var(--grid-inner-height) - 48px - var(--grid-margin));
}

.date-control {
    margin-top: var(--grid-margin);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
