.pos__card-subtitle {
    margin: -12px 16px 0 16px;
}

.pos__data-table-card-content {
    overflow: hidden;
    min-height: 108px;
}
.pos__data-table-card-content {
    max-height: calc(100vh - 32px);
}
