/* breakpoint calculated as max width of content + width of drawer(256px) */
@mixin large {
    @media (min-width: 1344px) {
        @content;
    }
}
@mixin small {
    @media (max-width: 1343px) {
        @content;
    }
}

/* toggle */
.drawer-toggle {
    --drawer-transition-time-opening: 250ms;
    --drawer-transition-time-closing: 200ms;
    --mdc-easing-accelerated: cubic-bezier(0.4, 0, 1, 1);
    --mdc-easing-decelerated: cubic-bezier(0, 0, 0.2, 1);
    --mdc-easing-default: cubic-bezier(0.4, 0, 0.2, 1);

    position: relative;
    display: flex;
    &--left {
        justify-content: flex-end;
    }
    &--right {
        justify-content: flex-start;
    }
}

/* z-index props */
/* left drawer (and scrim) has default drawer z-index */
.drawer-toggle--left > .drawer-toggle__drawer,
.drawer-toggle--left > .drawer-toggle__scrim {
    z-index: 6;
}
/* right drawer (and scrim) has z-index lower than default, so it it overlayed by main (left) drawer */
.drawer-toggle--right > .drawer-toggle__drawer,
.drawer-toggle--right > .drawer-toggle__scrim {
    z-index: 5;
}

/* drawer state mixins */
@mixin drawer--open {
    transform: translate(0%);
    visibility: visible;

    @include large() {
        /* 1: opening timing (default easing) */
        /* 2: visibility visible (no delay) */
        transition: transform var(--drawer-transition-time-opening)
                var(--mdc-easing-default),
            visibility 0s linear 0s;
    }
    @include small() {
        /* 1: opening timing (decelerated easing) */
        /* 2: visibility visible (no delay) */
        transition: transform var(--drawer-transition-time-opening)
                var(--mdc-easing-decelerated),
            visibility 0s linear 0s;
    }
}
@mixin drawer__general--closed {
    visibility: visible;

    @include large() {
        /* 1: closing timing (default easing) */
        /* 2: visibility hidden (delayed) */
        transition: transform var(--drawer-transition-time-closing)
                var(--mdc-easing-default),
            visibility 0s linear var(--drawer-transition-time-closing);
    }
    @include small() {
        /* 1: closing timing (accelerated easing) */
        /* 2: visibility hidden (delayed) */
        transition: transform var(--drawer-transition-time-closing)
                var(--mdc-easing-accelerated),
            visibility 0s linear var(--drawer-transition-time-closing);
    }
}
@mixin drawer__right--closed {
    transform: translateX(100%);
}
@mixin drawer__left--closed {
    transform: translateX(-100%);
}
/* drawer (open default) */
.drawer-toggle__drawer {
    height: 100%;
    position: absolute;

    .drawer-toggle--left > & {
        left: 0;
    }
    .drawer-toggle--right > & {
        right: 0;
    }

    /* fix mdc styles for right drawer */
    .drawer-toggle--right > & {
        border-right-width: 0;
        border-left-style: solid;
        border-left-width: 1px;
    }

    @include drawer--open();
}

/* drawer closed state */
.drawer-toggle--closed {
    & > .drawer-toggle__drawer {
        @include drawer__general--closed();
    }
    &.drawer-toggle--left > .drawer-toggle__drawer {
        @include small() {
            @include drawer__left--closed();
        }
    }
    &.drawer-toggle--right > .drawer-toggle__drawer {
        @include drawer__right--closed();
    }
}

/* scrim (closed default) */
.drawer-toggle__scrim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.32);
    border: none;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    /* 1: closing timing (accelerated easing) */
    /* 2: delay visibility hidden */
    transition: opacity var(--drawer-transition-time-closing)
            var(--mdc-easing-accelerated),
        visibility 0s linear var(--drawer-transition-time-closing);
}
/* scrim open state */
@include small() {
    .drawer-toggle--open > .drawer-toggle__scrim {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;

        /* 1: opening timing (decelerated easing) */
        /* 2: delay visibility hidden */
        transition: opacity var(--drawer-transition-time-opening)
                var(--mdc-easing-decelerated),
            visibility 0s linear 0s;
    }
}

/* children state mixins */
@mixin children--full {
    width: 100%;
    /* closing timing (default easing) */
    transition: width var(--drawer-transition-time-closing)
        var(--mdc-easing-default);
}
@mixin children--adjusted {
    width: calc(100% - 256px);
    /* open timing (default easing) */
    transition: width var(--drawer-transition-time-opening)
        var(--mdc-easing-default);
}
/* children */
.drawer-toggle__children {
    height: 100%;

    @include children--full();

    @include large() {
        .drawer-toggle--left > &,
        .drawer-toggle--right.drawer-toggle--open > & {
            @include children--adjusted();
        }
    }
}
