/* breakpoint calculated as max width of content + width of drawer(256px) */
@mixin large {
    @media (min-width: 1344px) {
        @content;
    }
}
@mixin small {
    @media (max-width: 1343px) {
        @content;
    }
}

/* toggle */
.drawer-toggle {
    --drawer-transition-time-opening: 250ms;
    --drawer-transition-time-closing: 200ms;
    --mdc-accelerated-easing: cubic-bezier(0.4, 0, 1, 1);
    --mdc-decelerated-easing: cubic-bezier(0, 0, 0.2, 1);
    --mdc-default-easing: cubic-bezier(0.4, 0, 0.2, 1);

    position: relative;
    display: flex;
    &--left {
        justify-content: flex-end;
    }
    &--right {
        justify-content: flex-start;
    }
}

/* drawer (open default) */
.drawer-toggle__drawer {
    /* z-index same as mdc default */
    z-index: 6;
    height: 100%;
    position: absolute;
    visibility: visible;

    .drawer-toggle--left > & {
        left: 0;
    }
    .drawer-toggle--right > & {
        right: 0;
    }
    transform: translateX(0%);

    /* fix mdc styles for right drawer */
    .drawer-toggle--right > & {
        border-right-width: 0;
        border-left-style: solid;
        border-left-width: 1px;
    }

    /* 1: opening timing (default easing) */
    /* 2: delay visibility hidden */
    transition: transform var(--drawer-transition-time-opening)
            var(--mdc-default-easing),
        visibility 0s linear 0s;

    /* mobile has different easing */
    @media (max-width: 1343px) {
        /* 1: opening timing (decelerated easing) */
        /* 2: delay visibility hidden */
        transition: transform var(--drawer-transition-time-opening)
                var(--mdc-decelerated-easing),
            visibility 0s linear 0s;
    }
}

/* drawer closed state */
@include small() {
    .drawer-toggle--closed {
        &.drawer-toggle--left > .drawer-toggle__drawer {
            transform: translateX(-100%);
        }
        &.drawer-toggle--right > .drawer-toggle__drawer {
            transform: translateX(100%);
        }
        & > .drawer-toggle__drawer {
            visibility: hidden;

            /* 1: closing timing (accelerated easing) */
            /* 2: delay visibility hidden */
            transition: transform var(--drawer-transition-time-closing)
                    var(--mdc-accelerated-easing),
                visibility 0s linear var(--drawer-transition-time-closing);
        }
    }
}

/* scrim (closed default) */
.drawer-toggle__scrim {
    /* z-index same as drawer */
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.32);
    border: none;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    /* 1: closing timing (accelerated easing) */
    /* 2: delay visibility hidden */
    transition: opacity var(--drawer-transition-time-closing)
            var(--mdc-accelerated-easing),
        visibility 0s linear var(--drawer-transition-time-closing);
}
/* scrim open state */
@include small() {
    .drawer-toggle--open > .drawer-toggle__scrim {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;

        /* 1: opening timing (decelerated easing) */
        /* 2: delay visibility hidden */
        transition: opacity var(--drawer-transition-time-opening)
                var(--mdc-decelerated-easing),
            visibility 0s linear 0s;
    }
}

/* children (open default) */
.drawer-toggle__children {
    height: 100%;
    width: calc(100% - 256px);
    /* open timing (default easing) */
    transition: width var(--drawer-transition-time-opening)
        var(--mdc-default-easing);
}
/* children closed state */
@include small() {
    .drawer-toggle__children {
        width: 100%;
        /* closing timing (accelerated easing, because it is only visible, when the drawer fades out accelerated) */
        transition: width var(--drawer-transition-time-closing)
            var(--mdc-accelerated-easing);
    }
}
