.view-product__stats {
    height: 56px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.view-product__stats > * {
    flex-shrink: 0;
}
.view-product__stats > .view-product__stats-gap {
    width: 16px;
    flex-shrink: 1;
}