.product__stats-card-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}
.product__header-text {
    margin-left: 40px;
}

.product__back-icon {
    position: absolute;
    top: 8px;
    left: 8px;
}

.product__stats {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.product__chart-card-content {
    height: 100%;
}

.add-fab__edit-product {
    width: 360px;
    max-width: 100%;
}
