html,
body,
#__next {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;

    /* global custom properties */
    --mdc-theme-custom-balance-positive: green;
    --mdc-theme-custom-balance-negative: red;
}
