@use "@material/layout-grid/mixins";

.mdc-card__media--square::before {
    margin-top: 0 !important;
    padding-top: 100%;
}

// enable use of <GridCell phone={0}/> by not rendering them at all (prevents weird spacing behaviour)
.mdc-layout-grid__cell--span--phone {
    @include mixins.media-query_(phone) {
        display: none;
    }
}
.mdc-layout-grid__cell--span--tablet {
    @include mixins.media-query_(tablet) {
        display: none;
    }
}
.mdc-layout-grid__cell--span--desktop {
    @include mixins.media-query_(desktop) {
        display: none;
    }
}

// remove dots from ListDivider
.mdc-list-divider {
    list-style: none;
}

// prevent linke breaks in ListItem meta
.mdc-list-item__meta {
    white-space: nowrap;
}

// make activated data-table row look more decent
.rmwc-data-table__row--activated {
    background-color: unset !important;
}
