.card {
    gap: 16px;
}

.card__inner {
    box-shadow: initial;
    border-radius: initial;
    background: initial;
}

.card__media {
    margin-bottom: 4px;
}

.card__header {
    padding: 0 16px;
}
.card__header:first-child {
    padding-top: 16px;
}

.card__content {
    padding: 0 16px;

    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
}
.card__content:last-child {
    padding-bottom: 16px;
}

.card__content + .card__content {
    padding-top: 8px;
}

.card__actions--full-bleed {
    padding: 8px;
}
