.display-info {
    height: 56px;
    border-radius: 4px;

    display: grid;
    grid-template-columns: 1fr;
    padding: 0 16px;
    gap: 12px;
}
.display-info--icon {
    grid-template-columns: 24px 1fr;
}
.display-info:not(.display-info--highlighted) {
    background-color: whitesmoke;
}

.display-info__icon {
    font-size: 24px;
    place-self: center;
}

.display-info__label {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.display-info__caption {
    margin: 3px 0 -6px 0;
}
