.drawer-header {
    height: 192px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.drawer-header__avatar {
    /* TODO: change to font-size when rmwc avatar is working again */
    /* font-size: 56px; */
    height: 56px;
    width: 56px;
    margin-bottom: 4px;
}

.drawer-header__name {
    display: block;
    box-sizing: border-box;
    width: calc(100%);
    padding: 0 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.badge {
    font-weight: bold;
    padding: 0 8px;
    border-radius: calc(var(--mdc-typography-caption-line-height, 1.25rem) / 2);
}
