.page {
    overflow: auto;
    display: grid;
    justify-items: center;
}
.page__inner {
    width: 100%;
    /* maximum body size from documentation: https://material.io/design/layout/understanding-layout.html#layout-anatomy */
    max-width: calc(1040px + (2 * 24px));
    min-height: 100%;
}

.page__grid {
    min-height: 100%;
    display: grid;
    align-items: center;
}
