.main-app-bar {
    opacity: 1;
    /* fade-in timing */
    transition: opacity 2.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.main-app-bar--invisible {
    pointer-events: none;

    opacity: 0;
    /* fade-out timing */
    transition: opacity 3s cubic-bezier(0.4, 0, 0.2, 1);
}
