@use "Components/pageGrid/custom-properties";
@use "@material/layout-grid/mixins" as layout-grid-mixins;

.employees__page {
    @include custom-properties.app-bar-height();

    height: calc(100vh - var(--app-bar-height) - 48px);
    position: relative;
}
/* hacky way to style inner mdc grid */
.employees__page > div > div > div[class*="mdc-layout-grid__inner"] {
    align-items: center;
}

.employee {
    overflow: hidden;
    height: 92px;
    transition: height 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.employee--expanded {
    height: 297px;

    @include layout-grid-mixins.media-query_(phone) {
        height: 425px;
    }
}

.employee__main {
    display: grid !important;
    grid-template-columns: 92px 1fr;
    gap: 0;
}

.employee__image::before {
    border-radius: 0;
}

.employee__subtitle {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 16px;
}

.employee__dropdown-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 8px;
}

.employee__divider {
    margin-top: -16px;
}

.employee__extension {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "worktime-today     contract-worktime"
        "worktime-yesterday contract-salary  ";

    @include layout-grid-mixins.media-query_(phone) {
        grid-template-columns: 1fr;
        grid-template-areas: "worktime-today" "worktime-yesterday" "contract-worktime" "contract-salary";
    }
}

.employee-input {
    display: grid;
}

.offers__card {
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.offers__card--expect-collapse:hover {
    will-change: height;
}
.offers__card--expect-collapse:hover > .offers__rejected-list {
    will-change: opacity;
}

.offers__rejected-list {
    transition: opacity 0.2s linear;
}

.offers__discard-list-item {
    align-items: flex-start !important;
    transition: height 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s linear;
}
.offers__discard-list-item--discard {
    opacity: 0;
    height: 0 !important;
}
.offers__discard-list-item > [class*="rmwc-icon"], .offers__list-item > [class*="rmwc-icon"] {
    --diameter: 24px;
    margin-top: calc((64px - var(--diameter)) / 2);
}
.offers__avatar {
    width: var(--diameter);
    height: var(--diameter);
}

@keyframes add-offer-fab__scale {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
