.container-transform {
    /* in fullscreen mode --transition-time is injected via react, because of different timings */
    --transition-time: 0.3s;

    transition-property: height, width, left, top;
    transition-duration: var(--transition-time);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    overflow: hidden;
}
.container-transform--portal {
    transition-property: all;

    display: none;
    position: absolute;
}
.container-transform--optimize {
    will-change: display;
}
.container-transform--story {
    width: fit-content;
}

.container-transform__fading-wrapper {
    animation-duration: var(--transition-time);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.container-transform__fading-wrapper--optimize {
    will-change: opacity, contents;
}

.container-transform__element {
}
.container-transform__element--optimize {
    will-change: display;
}
.container-transform__element--fullscreen-element {
    width: 100vw;
    height: 100vh;
}
.container-transform__element--fullscreen-handle {
}

.container-transform__scrim {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.32);

    opacity: 0;
    /* transition when closing */
    transition: opacity var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1);
}
.container-transform__scrim--open {
    opacity: 1;
    /* transition when opening */
    transition: opacity calc(0.3 * var(--transition-time)) linear;
}

@keyframes container-transform__fade {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
