.app {
    height: 100vh;
    width: 100vw;
}

.app__fullscreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;

    pointer-events: none;
}
.app__fullscreen > * {
    pointer-events: auto;
}
