.bank__fullscreen-wrapper--open {
    border-radius: 0px;
}

.bank-checkout-summary__value:first-child i {
    color: var(--mdc-theme-error, #b00020) !important;
}
.bank-checkout-summary__value:last-child i {
    color: var(--mdc-theme-seconary, #03dac4) !important;
}
