.credentials--dialog {
    width: 280px;
}

.header {
    display: block;
    padding: 16px 16px 0 16px;
}

.input-user__qr--fade-back {
    --mdc-decelerate-easing: cubic-bezier(0.0, 0.0, 0.2, 1);
    animation: fade-in 250ms var(--mdc-decelerate-easing);
}
@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}