.credentials__card-header {
    display: block;
    padding: 16px 16px 0 16px;
}

.input-user-qr__video {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .input-user-qr__focus-catch {
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: -1;
} */
