.login__card {
    width: 100%;
}

.login__transform-container {
    width: 100%;
}

.login__manual-button {
    width: 100%;
    margin-top: 12px;
}

.login__card-header {
    display: block;
    padding: 16px 16px 0 16px;
}
.login__card-content {
    padding: 16px;
    display: grid;
    grid-gap: 8px;
}

.login__card-action-buttons {
    width: 100%;
    justify-content: space-between;
}
